<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Web Project</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top shadow">

        @Html.ActionLink("DnD Character Creator", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home", new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("Random Character", "NewCharacter", "Home", new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("All Characters Created", "AllCharacters", "Home", new { @class = "nav-link" })</li>
            </ul>
        </div>
    </nav>


    <div class="container body-content">
        @RenderBody()
        <footer class="clear">
            <hr />
            <p>&copy; @DateTime.Now.Year - Random DnD Character Creator</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
