@model NameIsNameCharacterGenerator.Services.Character

@{
    ViewBag.Title = "Character";
}

<h2>Character</h2>

<div class="characterHead">
    <h5>Name: @Model.Name</h5>
    <h5>Race: @Model.Race</h5>
    <h5>Class: @Model.Class</h5>
    <h5>Allignment: @Model.Alignment</h5>
    <h5>Background:</h5>
</div>
<div class="characterBody">
    <div class="abilityScores">
        <span class="scoreBox">Strength: @Model.Str</span>
        <span class="scoreBox">Dexterity: @Model.Dex</span>
        <span class="scoreBox">Constitution: @Model.Con</span>
        <span class="scoreBox">Wisdom: @Model.Wis</span>
        <span class="scoreBox">Intelligence: @Model.Int</span>
        <span class="scoreBox"> Charisma: @Model.Cha</span>
    </div>
    <div class="skills">
        <h5>Skills</h5>
        <span>Acrobatics: @Model.Acrobatics</span>
        <span>Animal Handling: @Model.AniamlHandling</span>
        <span>Athletics: @Model.Athletics</span>
        <span>Deception: @Model.Deception</span>
        <span>History: @Model.History</span>
        <span>Insight: @Model.Insight</span>
        <span>Intimidation: @Model.Intimidation</span>
        <span>Investigation: @Model.Investigation</span>
        <span>Medicine: @Model.Medicine</span>
        <span>Nature: @Model.Nature</span>
        <span>Perception: @Model.Perception</span>
        <span>Performance: @Model.Performance</span>
        <span>Religion: @Model.Religion</span>
        <span>Slight Of Hand: @Model.SlightOfHand</span>
        <span>Stealth: @Model.Stealth</span>
        <span>Survival: @Model.Survival</span>
    </div>
</div>
<div class="characterFoot">

</div>